* {
    direction: rtl;
    text-align: right;

}


.ltr-text {
    direction: ltr;
    unicode-bidi: bidi-override;
}


.bx-chevron-right {
    transform: rotate(180deg);
}

.features ul li {
    padding: 0 26px 8px 0;
    /* Inverse le padding pour RTL */
}

.features ul i {
    left: auto;
    right: 0;
}

#wilaya {
    text-align: center;
}